<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carta de San Valentín</title>
    <link rel="stylesheet" href="css/gift.css" />
  </head>
  <body>
    <div class="valentines-day">
      <div class="envelope"></div>
      <div class="heart"></div>
      <div class="text">HAPPY <br />VALENTINE'S <br />DAY!</div>
      <div class="front"></div>
    </div>

    <div id="card">
      <div class="side one"></div>
      <div class="side two">
        <h2>Mi amada Valent</h2>
        <p>
          En este día de San Valentín, quiero enviarte un mensaje especial para
          expresar mi profunda admiración por tu dedicación y la increible persona que sos.
          Cada beso y abrazo que me das es como un remedio para mi corazon, energía para no rendirme jamás. Cada charla que tenemos es como un poema de motivación e inspiración. Tus palabras son como rayos de luz en mi vida
          iluminando mi camino y guiándome hacia un futuro brillante.
        </p>
        <p>
          ¡Feliz día de San Valentín, Amor de mi vida! Que nuestro amor continúe creciendo y floreciendo cada momento que compartimos juntos.
        </p>
        <a href="/" id="regresar">Toca aquí para volver</a>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/gift.js"></script>
  </body>
</html>
