<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>¿Me amas?</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <h1>¿Me vas a amar para siempre, Valentina ♥?</h1>
        <div id="gatito">
          <img src="images/gatito.jpeg" alt="Me amas?" />
        </div>
        <button id="BtnSi" onclick="mostrarMje()">Si</button>
        <button id="BtnNo" onmouseover="moverBoton()">No</button>
      </div>  
    </main>
    <footer>
      <p class="footer-copyright">
        Developed with ♥ by Ivan Alvarez
      </p>
    </footer>
    <script src="js/app.js"></script>
  </body>
</html>
