<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>¿Me amas?</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="images/heart.ico" />
  </head>
  <body>
    <header>
      <h1>¿Me vas a amar para siempre, Valentina ♥?</h1>
    </header>
    <main>
      <div class="cat-image">
        <img
          src="images/gatito.jpeg"
          alt="Gatito tierno con ojos grandes y pelaje suave"
        />
      </div>
      <div class="buttons">
        <button id="btnSi" onclick="mostrarMje()">Si</button>
        <button id="btnNo" onmouseover="moverBoton()">No</button>
      </div>
    </main>
    <footer>
      <p>Developed with ♥ by Ivan Alvarez</p>
    </footer>
    <script src="js/script.js"></script>
  </body>
</html>
