* {
  margin: 0;
}

body {
  background-color: sandybrown;
  text-align: center;
}

h1 {
  color: crimson;
}

.cat-image {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cat-image img,
.buttons button {
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}

.buttons button {
  width: 120px;
  height: 70px;
  font-size: 24px;
  cursor: pointer;
  background-color: orange;
}

.buttons button:active {
  background-color: orangered;
}

#btnSi {
  margin-right: 5px;
}

#btnNo {
  margin-left: 5px;
}

.contadores {
  margin-top: 10vh;
}

#intentos {
  font-size: 32px;
  color: red;
}

#getGift {
  margin-top: 15vh;
  border: none;
  border-radius: 8px;
  box-shadow: 3px 5px 5px rgba(255, 0, 0, 0.5);
  color: white;
  font-size: 26px;
  background: linear-gradient(90deg, #ff9494, red);
  cursor: pointer;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: crimson;
  background-color: black;
  font-size: 18px;
  padding: 10px;
}
