* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: sandybrown;
}

h1 {
  color: crimson;
  text-align: center;
}

.cat-image {
  margin-top: 10px;
}

.cat-image img {
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttons button {
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  width: 120px;
  height: 70px;
  font-size: 24px;
  background-color: orange;
}

#btnSi {
  margin-right: 5px;
}

#btnNo {
  margin-left: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: crimson;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
